version: '2'

services:
  cass-1:
    image: cassandra:${CASSTAG}
    networks:
      - backend
    ports:
      - 9048:9042
    mem_limit: 2G
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - CASSANDRA_SEEDS=cass-1
      - CASSANDRA_CLUSTER_NAME=sg-jwt-${CASSTAG}
  cass-2:
    image: cassandra:${CASSTAG}
    networks:
      - backend
    mem_limit: 2G
    depends_on:
      - cass-1
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - CASSANDRA_SEEDS=cass-1
      - CASSANDRA_CLUSTER_NAME=sg-jwt-${CASSTAG}
  cass-3:
    image: cassandra:${CASSTAG}
    networks:
      - backend
    mem_limit: 2G
    depends_on:
      - cass-1
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - CASSANDRA_SEEDS=cass-1
      - CASSANDRA_CLUSTER_NAME=sg-jwt-${CASSTAG}
  stargate-jwt:
    image: stargateio/stargate-3_11:${SGTAG}
    container_name: stargate-jwt
    depends_on: 
      - cass-1
    networks:
      - backend
    ports:
      # cql
      - 9045:9042
      # graphql
      - 8080:8080
      # auth
      - 8081:8081
      # REST
      - 8082:8082
      # health
      - 8084:8084
      # grpc
      - 8090:8090
    mem_limit: 2G
    environment:
      - JAVA_OPTS=-XX:+CrashOnOutOfMemoryError -Xmx750M -Xms64M -Dstargate.auth_id=AuthJwtService -Dstargate.cql_use_auth_service=true -Dstargate.auth.jwt_provider_url=http://keycloak:4444/auth/realms/stargate/protocol/openid-connect/certs
      - CLUSTER_NAME=sg-jwt-${CASSTAG}
      - CLUSTER_VERSION=3.11
      - SEED=cass-1
      - RACK_NAME=rack1
      - DATACENTER_NAME=dc1
      - ENABLE_AUTH=true
      - SIMPLE_SNITCH=true
  keycloak:
    image: quay.io/keycloak/keycloak:${KCTAG}
    container_name: keycloak
    networks:
      - backend
    ports:
      - 4444:4444
      - 9990:9990
    environment:
      - JAVA_OPTS=-Djboss.http.port=4444
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_IMPORT=/tmp/stargate-realm.json
    volumes:
      - ./stargate-realm.json:/tmp/stargate-realm.json
networks:
  backend:
